#landing-form-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#landing-map-box{
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 45rem;
}
#logout-animate{
    display: flex;
    justify-content: center;
    padding: 20em;
}
.landing-container{
    display: flex;
}
.landing-headers{
    display: flex !important;
    flex-direction: column;
    margin: 2em auto !important;
    justify-content: center;
}

.landing-form{
    flex-direction: column;
    margin: auto;
}

.base-container{
    display: flex;
    flex-direction: column;
}

@keyframes slideInFromLeftAndFade {
    from {
        transform: translateX(-30%); /* Start from the left */
        opacity: 0; /* Start fully transparent */
    }
    to {
        transform: translateX(0); /* End at the center */
        opacity: 1; /* End fully opaque */
    }
}

#spinner.spinner-class{
    margin: 40vh 48%;
    width: 60px !important;
    height: 60px !important;
}

/* Using above keyframe in the class below */
.slide-in-fade {
    animation: slideInFromLeftAndFade 0.6s ease-out;
}